@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    background: #141619;
    color: white;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: .2vw 10%;
    background:black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}

.logo {
    font-size: 3vw;
    color: white;
    font-weight: 600;
    text-decoration: none;
}

.navbar a {
    font-size: .9vw;
    color: white;
    text-decoration: none;
    font-weight: 500;
    margin-left: 2vw;

}


html {
    scroll-behavior: smooth;
}

section {
    scroll-margin-top: 6vw; 
}


.home {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}

.home-content {
    max-width: 80vw;
}

.image {
    width: 80vw;
    max-width: 25vw;
    border-radius: 50%;
}


.home-content h1 {
    font-size: 3.5vw;
    font-weight: 700;
    color: whitesmoke;
    line-height: 1;
}

.home-content h3 {
    font-size: 2vw;
    font-weight: 700;
    color: #0A21C0;
}

.home-content p {
    font-size: 0.8vw;
    margin: 1vw 0px 1.5vw;
    width: 50vw;
}

.home-content .btn-box {
    display: flex;
    justify-content: space-between;
    width: 18vw;
    height: 2.5vw;
}

.btn-box a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 8vw;
    height: 100%;
    background: lightblue;
    border: .1vw solid lightblue;
    border-radius: .4vw;
    font-size: .9vw;
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
}

.btn-box a:nth-child(2) {
    background: transparent;
    color: whitesmoke;
}

.btn-box a:nth-child(1) {
    background: transparent;
    color: whitesmoke;
}

.btn-box a:hover {
    transform: scale(1.1);
}

.about {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%; 
    text-align: center; 
}
.about .heading {
    font-size: 2vw;
    margin-bottom: .2vw;
    text-align: center;
}
.about-img {
    margin: 1vw 0; 
}

.about-img img {
    width: 100%;
    max-width: 20vw; 
    height: auto; 
    border-radius: 50%; 
}

.about-content h3 {
    font-weight: 6vw;
    font-size: 2vw;
}

.about-content p {
    font-size: .9vw;
    margin: 2vw 0 3vw;
}

.btn-box.btns {
    display: inline-block;
    width: -1vw;
    height: 2vw;
}

.projects {
    margin-top: 5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 10%; 
    text-align: center;
}

.projects .heading {
    font-size: 2vw;
    margin-bottom: .2vw;
    text-align: center;
}   
.projects-content {
    text-align: center;
}

.projects-content p {
    text-align: center;
    margin: 2vw 0 4vw;
    font-size: .9vw;
    width: 70vw;

}

.project-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columns */
    gap: 1vw; /* Space between items */
    
}

.project-grid img, 
.project-grid .video {
    width: 100%;
    object-fit: cover;
    transition: transform 0.3s;
    border-radius: 3%;
}

.project-grid img:hover, 
.project-grid .video:hover {
    transform: scale(1.05);
}

/* Manually position each item */
/* Example grid-area placement: grid-row-start / grid-column-start / grid-row-end / grid-column-end */
.grid-item:nth-child(1) {
    grid-row: span 2; /* Image spans 2 rows */
    grid-column: 1 / 2; /* First column */
}

.grid-item:nth-child(2) {
    grid-row: span 1;
    grid-column: 2vw / 3; /* Second column */
}

.grid-item:nth-child(3) {
    grid-row: span 3;
    grid-column: 3 / 4; /* Third column */
}

.grid-item:nth-child(4) {
    grid-row: span 2;
    grid-column: 1 / 2; /* First column again */
}

.grid-item:nth-child(5) {
    grid-row: span 1;
    grid-column: 2 / 3; /* Second column again */
}
.grid-item:nth-child(6) {
    grid-row: span 1;
    grid-column: 3 / 4; /* Third column */
    margin-top: -59vw;
}
.grid-item:nth-child(8) {
    grid-row: span 1;
    grid-column: 2 /3; /* Second column again */
    margin-top: -46vw;
}
.grid-item:nth-child(9) {
    grid-row: span 1;
    grid-column: 3 / 4; /* Third column */
    margin-top: -35vw;
}
.grid-item:nth-child(11) {
    grid-row: span 1;
    grid-column: 2 /3; /* Second column again */
    margin-top: -11vw;
}
.grid-item:nth-child(14) {
    grid-row: span 1;
    grid-column: 2 /3; /* Second column again */
    margin-top: -.1vw;
}
.grid-item:nth-child(12) {
    grid-row: span 1;
    grid-column: 3 / 4; /* Third column */
    margin-top: -12vw;
}
.grid-item:nth-child(15) {
    grid-row: span 1;
    grid-column: 3 / 4; /* Third column */
    margin-top: -12vw;
}
.grid-item:nth-child(16) {
    grid-row: span 2;
    grid-column: 1 / 2; /* First column again */
    margin-top: -4vw;
}




/* You can adjust the grid-row spans for specific items as necessary */
@media (max-width: 768px) {
    .project-grid {
        grid-template-columns: repeat(2, 1fr); /* Adjust for smaller screens */
    }
}

@media (max-width: 480px) {
    .project-grid {
        grid-template-columns: 1fr; /* Single column for mobile */
    }
}

.education {
    max-width: 50vw;
    margin: 10vw auto;
    padding: 0 20px;
    text-align: center;
}

.education .heading {
    font-size: 2vw;
    margin-bottom: .2vw;
    text-align: center;
}
  

.heading span {
    color: #0A21C0;
}

.education-content p {
    text-align: center;
    margin: 2vw 0 4vw;
    font-size: .8vw;
    line-height: 1.6;
}

.timeline {
    position: relative;
    padding: 5vw 0;
}
.timeline-date {
    font-size: .8vw;
}

.timeline:before {
    content: '';
    position: absolute;
    left: 50%;
    top: 5vw;
    bottom: 20vw;
    width: .3vw;
    background-color: #050a44;
    transform: translateX(-50%);
}

.timeline-item {
    padding: .8vw;
    position: relative;
    width: 50%;
}

.timeline-item.left {
    left: -6%;
}

.timeline-item.right {
    left: 56%;
}

.timeline-item.left .timeline-date,
.timeline-item.right .timeline-date {
    position: absolute;
    top: -1vw;
    width: 13vw;
    background-color: #050a44;
    padding: .5vw;
    text-align: center;
    border-radius: .4vw;
}
.timeline-item.left .timeline-date:hover {
    transform: scale(1.05);
}
.timeline-item.right .timeline-date:hover {
    transform: scale(1.05);
}


.timeline-item.left .timeline-date {
    right: -3vw;
}

.timeline-item.right .timeline-date {
    left: -3vw;
}

.timeline-content {
    background-color: #2C2E3A;
    padding: 1vw;
    border-radius: .5vw;
    text-align: left;
}

.timeline-content h3 {
    font-size: .8vw;
    font-weight: 600;
    color: white;
    margin-bottom: .4vw;
}


@media screen and (max-width: 768px) {
    
    .timeline:before {
        left: 20px;
    }

    .timeline-item {
        width: 100%;
        padding-left: 40px;
    }

    .timeline-item.left,
    .timeline-item.right {
        left: 0;
    }

    .timeline-item.left .timeline-date,
    .timeline-item.right .timeline-date {
        left: 0;
        right: auto;
    }

    .timeline-item.left .timeline-date {
        transform: translateX(0);
    }

    .timeline-item.right .timeline-date {
        transform: translateX(0);
    }
}

.contact-section {
    display: flex;
    justify-content: center; 
    padding: 2vw;
    font-family: Arial, sans-serif;
    gap: 2vw;
    align-items: flex-start;
    background-color:#222;
}
.navbar a.active {
    text-decoration: underline; 
}
.contact-info {
    flex: 1;
    max-width: 40vw;
}

.contact-info h2 {
    font-size: 2vw;
    margin-bottom: 1vw;
    color: #0A21C0;
}

.contact-info p {
    font-size: .7vw;
    line-height: 1.6;
}

.contact-info a {
    color: #0A21C0;
    text-decoration: none;
}

.contact-info a:hover {
    text-decoration: underline;
}

.contact-details {
    margin-top: 2vw; 
    text-align: center; 
}

.contact-details p {
    margin: .9vw 0; 
    font-size: .7vw; 
    color: white;
}


.contact-form {
    flex: 1;
    max-width: 19vw; 
    margin:1vw auto; 
    background-color: #222; 
    border-radius: .1vw; 

    form {
        display: flex;
        flex-direction: column;
    }

    .form-group {
        margin-bottom: .3vw;
    }

    label {
        margin-bottom: .1vw;
        font-weight: bold;
        display: inline-block;
        font-size: .7vw;
    }

    input, textarea {
        padding: .3vw; /* Use fixed units instead of viewport-based units */
        border-radius: .4vw;
        width: 19vw;
        font-size: .6vw; /* Fixed font size */
        box-sizing: border-box;
        position: relative;
        resize: none; /* Prevents resizing */
    }
    
    

    textarea {
        height: 2vw;
    }

    button {
        padding: .4vw;
        background-color: #0A21C0;
        color: white;
        border: none;
        border-radius: .3vw;
        cursor: pointer;
        font-size: .7vw;
        transition: background-color 0.3s;
    }

    button:hover {
        transform: scale(1.02);
    }
}